

#barbearia{
   width: 100%;

}

#beneficios{
    width: 50%;
}

.principal{
    background-color:#cccccc ;   
    padding: 30px; 
}

.titulo-principal{
    padding-left: 20px;
}


.titulo-centralizado{
    text-align: center;
}

p{
    text-align: center;
}

#missao{
    
    font-size: 20px;
}

em strong{
    color: red
}

.itens{
    font-style: italic;
}

.beneficios{
    background: #ffffff;
    padding: 20px;
}



ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembene{
    width: 50%;
}
